.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background: linear-gradient(90deg, #AF0000, #B48050);
	width: 100%;
	box-sizing: border-box;
	height: 150px;
	padding-top: 45px;
}
.Header-Logo img {
	width: 350px;
	height: 250px;
}
