nav {
	background: linear-gradient(90deg, #B48050, #AF0000);
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	
}

nav ul li a {
	display: block;
	color: #2D3648;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #111;
}
