.admin-content {
	margin-left: 220px;
	padding: 20px;
	box-sizing: border-box;
	min-height: 100vh;
	overflow: auto;
}

.product-form {
	margin-bottom: 20px;
}

	.product-form div {
		margin-bottom: 10px;
	}

	.product-form label {
		display: block;
		margin-bottom: 5px;
	}

	.product-form input {
		width: 100%;
		padding: 8px;
		box-sizing: border-box;
	}

	.product-form button {
		padding: 10px 20px;
		background-color: #333;
		color: white;
		border: none;
		cursor: pointer;
	}

		.product-form button:hover {
			background-color: #555;
		}

ul {
	list-style-type: none;
	padding: 0;
}

	ul li {
		padding: 10px;
	}

.product-lists {
	display: flex;
	justify-content: space-between;
}

.product-list {
	width: 48%;
}

	.product-list h3 {
		margin-top: 0;
	}
